@font-face {
    font-family: 'Gadugi';
    src: url("/fonts/gadugi.ttf");
}

html {
    min-height: 100%;
    height: 100%;
}

body {
    font-family: 'Gadugi';
    background-color: #FFF;
    margin: 0px;
    min-height: 100%;
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.contact-link {
    margin-left: 20px;
    margin-right: 20px;
}

.header_button {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: inherit;
    margin: 0 20px;
    position: relative;
    padding: 5px 0;
    white-space: nowrap;
    box-sizing: border-box;
    height: 100%;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.header_button:hover {
    border-bottom: 8px solid #5702e0;
}

.header_spacer {
    height: 50px;
    position: fixed;
    top: 0;
}

.intro {
    width: auto;
    height: 60%;

    color: white;
    background-color: rgba(80, 0, 105, 1);
}

.intro-bio {
    font-size: 30px;
    width: 100%;
}

.intro-hello {
    font-size: 100px;
    width: 100%;
}

.intro-name {
    font-size: 40px;
    width: 100%;
}

.portfolio {
    width: auto;
    height: 50%;

    color: black;
    background-color: white; /* rgba(200, 200, 200, 1); */
}

.portfolio-title {
    font-size: 70px;
    width: 100%;
}

.portfolio-description {
    font-size: 20px;
    width: 100%;
    color: grey;
}

.portfolio-display {
    height: 350px;
}

.portfolio-img {
    padding: 0px 20px 0px 20px;
    width: 200px;
    height: 200px;
}

.portfolio-img:hover {
    padding: 0px 10px 0px 10px;
    width: 220px;
    height: 220px;
}

.primary_header {
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 50px;
    padding: 0 20px;
    
    color: white;
    background-color: rgba(25, 0, 25, 1);
    
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    
    font-size: 18px;
    position: fixed;
    z-index: 1000;
}

.section {
    padding: 30px
}